{% extends "base.html" %}

{% block nav %}
<div class="nav">
  <ul id="nav_tabs">
    <li><a href="/">Predictions</a></li>
    <li class="selected">Points</li>
  </ul>
</div>
{% endblock nav %}

{% block content %}
<div class="content-item">
  <p>Choose an opponent to view his/her points:
  <select id="idOpponents" onchange="initOpponents()">
    {% for opponent in opponents %}
    <option value="{{ opponent.uuid }}">{{ opponent.name }}</option>
    {% endfor %}
  </select>
  </p>
  <p id="idOpponentTotal"></p>
  <p id="idOpponentLast"></p>
</div>
<script>
  var oppScoreData = {};
  {% for opponent in opponents %}
    oppScoreData['{{ opponent.uuid }}'] = {
        'last': {{ opponent.last }},
        'total': {{ opponent.total }}
    }
  {% endfor %}
  sessionStorage.setItem('oppScoreData', JSON.stringify(oppScoreData));
  initOpponents();
</script>
{% endblock content %}
