{% extends "overall.html" %}

{% block content %}
<div class="content">
  <div class="content-header">Enter your predictions for Race {{racenum}}</div>
  <div class="content-item">
    <p>Your total Points: {{points_total}}</p>
    <p>Points from last race: {{points_last_race}}</p>
  </div>
  <div class="content-item">
    <p>Choose an opponent to view his/her points:
    <select id="idOpponents" onchange="f()">
      {% for opponent in opponents %}
      <option value="{{ opponent.total }}">{{ opponent.name }}</option>
      {% endfor %}
    </select>
    </p>
    {% for opponent in opponents %}
    <div id="{{ opponent.name }}" class="hidden">{{ opponent.last }}</div>
    {% endfor %}
    <p id="idOpponentTotal"></p>
    <p id="idOpponentLast"></p>
  </div>
  <div class="content-item">
    <form method="get" action="/predictions">
      <table>
        <tr>
          <th></th><th>P1</th><th>P2</th><th>P3</th>
        </tr>
        <tr>
          <th>Qualifying</th>
          <td>
            <select name="q1">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="q2">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="q3">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>Race</th>
          <td>
            <select name="r1">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="r2">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="r3">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      </table>
      <p><input type="submit" value="Record Result"/></p>
    </form>
  </div>
</div>
<script>f();</script>

{% endblock content %}
