{% extends "overall.html" %}

{% block content %}
  <div class="content-header">Enter your predictions for Race {{racenum}}</div>
  <div class="content-item">
    <p>Your total Points: {{points_total}}</p>
    <p>Points from last race: {{points_last_race}}</p>
  </div>
  <div class="content-item">
    <form method="get" action="/predictions">
      <table>
        <tr>
          <th></th><th>Qualifying</th><th>Race</th>
        </tr>
        <tr>
          <th>P1</th>
          <td>
            <select name="q1">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="r1">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>P2</th>
          <td>
            <select name="q2">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="r2">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>P3</th>
          <td>
            <select name="q3">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="r3">
              {% for driver in drivers %}
              <option value="{{ driver.code }}">{{ driver.last }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      </table>
      <p><input type="submit" value="Record Result"/></p>
    </form>
  </div>

{% endblock content %}
